<% if !user_signed_in? %>
	<div class="jumbotron" >
		<h2>Your Favourite Movies Reviewed</h2>
		<p>Oh. You need a little dummy text for your mockup? How quaint.I bet you’re still using Bootstrap too…</p>
		<p> <%= link_to "Sign up to write a Review",new_user_registration_path,class: "btn btn-primary btn-lg",id: "but"%> </p>
	</div>
<% end%>

<div class="row">
	
	<% @movies.each do |movie| %>
	<div class= "col-md-3 col-sm-6">
		
		<div class="thumbnail">
			<%= link_to (image_tag movie.image.url(:medium),class: "image"), movie %>
		</div>
		
	</div>
	<% end %>
	
</div>